.hero-unit
  h1 #{comp.name}
  p 
    | #{Date.parse(comp.start).toString('ddd, MMMM d, yyyy h:mm tt')}
    |  to 
    |  #{Date.parse(comp.end).toString('ddd, MMMM d, yyyy h:mm tt')}

  - if (everyauth.loggedIn && comp.isUpcoming())
    .row
      .span9
        h2 Enter this competition
        ol
          li Create your git repo. The repo name is your entry name.
          li Add the following url to your Post-Reveive Hooks.
             // a(href='http://help.github.com/post-receive-hooks/') Info
             br
             input.span7(type='text',value='http://50.56.223.160:3000/update/#{comp._id}/#{entryURL}')
          li Create a README file and push your initial commit.
          li Share the Post-Receive Hook URL with your team members.
             br
             span.label.important Do not share the URL with other teams.
          li Do not begin coding until #{comp.start}.

- for (var entry_id=0; entry_id<entries.length; entry_id++)
  .row
    .span9
      h2 #{entries[entry_id].name}
      p #{entries[entry_id].github}
    - if (++entry_id < entries.length)
      .span9
        h2 #{entries[entry_id].name}
        p #{entries[entry_id].github}
